{% extends 'base.html'%}

{%block content%}
    <h1><Pagamentos/h1>
        <a href ="{% url 'cad_pagamento' %}">Adicionar</a>
        <table border= "1" class="table table-dark table-striped table-hover">
            <thead>
            <tr>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Tipo</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            {% for pag in pagamentos %}
            <tr>
                <td>{{pag.descricao}}</td>
                <td>{{pag.valor}}</td>
                <td>{{pag.data}}</td>
                <td>{{pag.tipo}}</td>
                <td>
                    <a href="{% url 'upd_pagamento' pag.id %}" class="btn btn-success">Atualizar</a>
                    <a href="{% url 'del_pagamento' pag.id %}" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
            {%empty%}
            <tr>
                <td colspan="4">Sem pagamentos Informados</td>
            </tr>
            {% endfor %}
        </table>


{%endblock content%}